        <div id="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <p>Copyright 2014-15, Richard Buggy. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
